* {
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto Slab', serif;
}

body {
    background-color: #111111;
}

nav {
    flex: 1;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 14px;
}

nav ul li a:hover {
    opacity: 0.8;
}

h1 {
    color: #EE4D2F;
    text-align: center;
    margin-top: 20px;
}

.grid-container
{
    min-height: 85vh;
    min-width: 80vw;
    background-color: rgb(57, 57, 57);
    padding: 5%;
    margin: 0%;
    display: flex;
}
.green-eventblock
{
    color: black;
    width: 40%;
    height: 225px;
    border-style: groove;
    border-color: black;
    background-color: lightgreen;
    border-radius: 2px;
    margin: 3%;
    padding: 20px;
}
.gray-eventblock
{
    color: black;
    width: 40%;
    height: 225px;
    border-style: groove;
    border-color: black;
    background-color: lightgray;
    border-radius: 2px;
    margin: 3%;
    padding: 20px;
}
.invis-deletebtn
{
    visibility: hidden;
}
.vis-deletebtn
{
    color: black;
    background-color: red;
    width: 96px;
}
.cntpple
{
    color: darkgray;
    font-size: 15px;
}
.joinbtn
{
    color: black;
    background-color: rgb(49, 245, 49);
    width: 48px;
}
.leavebtn
{
    color: black;
    background-color: red;
    width: 48px;
}
.popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.popup.open {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
}

.popup-content {
    background: gray;
    max-width: 100%;
    width: 300px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    position: relative;
   
}

.popup.open .popup-content {
    opacity: 1;
    transform: translateY(0);
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.close-btn:hover {
    color: red;
}

.button-forum{
 margin: 0 auto;
 justify-content: center;
 height: 4vh;
 width: auto;
 border-radius: 25px;
 background: black;
 color: white;
 font-weight: bold;
 padding: 20px;
 display: flex;
 align-items: center;
 border-color: white;
}