* {
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto Slab', serif;
}

body {
    background-color: #111111;
}

nav {
    flex: 1;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 14px;
}

nav ul li a:hover {
    opacity: 0.8;
}

h1 {
    color: #EE4D2F;
    text-align: center;
    margin-top: 20px;
}

.grid-container
{
    min-height: 85vh;
    min-width: 80vw;
    background-color: rgb(57, 57, 57);
    padding: 5%;
    margin: 0%;
    display: flex;
}
.event-block
{
    color: white;
    width: 40%;
    height: 225px;
    border-style: groove;
    border-color: black;
    border-radius: 2px;
    background-color: gray;
    margin: 3%;
    padding: 20px;
}
.cntpple
{
    color: lightgray;
    font-size: 15px;
}
.joinbtn
{
    color: black;
    background-color: rgb(49, 245, 49);
    width: 48px;
}
.leavebtn
{
    color: black;
    background-color: red;
    width: 48px;
}